.slick-list {
  max-width: 1000px;
  margin: auto;
}

.my-shadow {
  transition: 0.5s;
}

.my-shadow:hover {
  box-shadow: 15px 15px 30px #8888885b;
}

textarea {
  height: 100px !important;
  resize: none;
}

.form-control {
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.form-control:focus,
.is-invalid:focus {
  box-shadow: none !important;
}

.nav-link:hover {
  color: black !important;
}

.link-white {
  text-decoration: none;
  color: white;
}

p {
  margin: 0px !important;
}

.font-rights{
  font-size: 10pt;
}

@media (max-width: 480px) {
  .slick-list div {
    display: flex !important;
    justify-content: center !important;
  }
}

@media (max-width: 768px) {
  .mw-md-75 {
    max-width: 75% !important;
  }
}
